.mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1;
  }
  